html, body {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0 0 34px;
  background-color: darkslategrey;
  /* 适配齐刘海*/
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
}

ul {
  list-style: none;
}

li {
  list-style-type: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

input, button {
  border: 0 none;
  border-radius: 0;
  outline: none;
}
